configuration {
    font: "FiraCode Nerd Font";
    modi: "drun,run";
    display-drun: "Apps";
    display-run: "Run";
    hover-select: true;
    drun-display-format: "{name}";
}

@theme "~/.config/rofi/themes/catppuccin-default.rasi"
